{% block title %} home {% endblock %}
{% block link %}{% endblock %}
{% block content %}
<h2>체험단 모집 공고!</h2>
    {% for exper in expers %}
    <div>
        {% if user == exper.exper_author %}
        <p><a class="detail" href="{% url 'exper_edit' exper.id %}"><button>수정</button></a></p>
        <p><a class="detail" href="{% url 'exper_delete' exper.id %}"><button>삭제</button></a></p>
        {% endif%}
            <div>
                <img src="{{exper.exper_image.url}}" width="400" height="400">
                </div>
            <span>{{ exper.exper_title }}</span><br>
            <span>{{ exper.exper_author }}</span><br>
            <span>{{ exper.exper_period }}</span><br>
            <span>{{ exper.exper_author }}</span>
        </p>
        <p><a style="color:black" class="detail" href="{% url 'exper_detail' exper.id %}">자세히보기</a></p>
        <hr>
        
    </div>
    {% endfor %}

{% endblock %} 